@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bangers&family=Changa:wght@300&family=Jost:wght@300&family=Kdam+Thmor+Pro&family=Nunito+Sans:ital,wght@0,200;0,400;1,200&family=Overpass:ital,wght@0,200;1,100;1,200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bangers&family=Changa:wght@300&family=Jost:wght@300&family=Kdam+Thmor+Pro&family=Nunito+Sans:ital,wght@0,200;0,400;1,200&family=Oswald&display=swap');

* {
  margin: 0;
  font-size: 13.5px;
  padding: 0;
  box-sizing: border-box;
/* #ff5400 */
}

body {
  background: black;
  color: #ffffff;
  font-family: 'Roboto', Arial;
}

.nav-section{
  background:#ff5400;
}

.logo {
  display: inline-block;
  padding: 1em;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;

}

.logo>h1{
  font-size: 20px;
  /* color: black; */
}


.diff-color {
  font-size: 18px;
  color: black;
}


.nav-links {
  display: inline-block;
  width:calc(100% - 150px);
  text-align: right;
  vertical-align: middle;
}

.nav-links ul{
  list-style: none;
}

.links {
  display: inline-block;
  margin: 10px;
}

.links > a {
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}


.links > a:hover,
.links > a:active
{
  border-bottom: 2px solid white;
}

.black-button {
  background: black;
  border-radius: 4px;
}

.black-button:hover,
.black-button:active
 {
  background: white;
  color: black;
  border: none;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50% ), url(blackbg-pos.jpg);
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 50%;
  padding:5vh 1em 0vh 1em;
}

.hero-text>h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: #ff5400;
}

.hero-text>h1,
.hero-text>h2 {
  margin:.71em;
}

.hero-text>h2 {
  font-size: 1.15em;
}

.hero-text>button {
  padding: 7.5px 1.1em;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.2);
  color:#ff5400;
  margin: .7em;
  font-weight: bold;
  border: 1px solid white;
  cursor: pointer;
}

.hero-text>button:hover,
.hero-text>button:active {
  color: #ffffff;
  border: 1.5px solid #ff5400;
}

#service-section {
  margin: 35px 0 0 0;
  text-align: center;
}

.service-heading{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.service-variety {
  height: 40vh;
  width: 30%;
  background: #ff5400;
  display: inline-block;
  text-align: center;
  padding: 2em 1em 1em 1em;
  vertical-align: middle;
}

.most-common {
  margin: 0px 10px 0px 10px;
  height: 42vh;
}

.service__name {
  font-size: 1.6em;
  margin: .5em;
}

.service__name+h2 {
  font-size: 1.2em;
}

.service__name+h2+ul {
  list-style: none;
  padding: 10px 5px;
}

#service-section li {
  /* line-height: 2px; */
  padding: 2px;
}
